# Sanal ortam (kesinlikle yüklenmemeli)
venv/
ENV/
env/

# Python önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook önbellekleri
.ipynb_checkpoints/

# Büyük veri dosyası (GitHub'ı şişirmemesi için)
data/Online_Retail.csv

# VS Code ayarları
.vscode/